@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Noto Sans", serif;
  /* font-family: "Jost", serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  word-spacing: 6px;
  word-spacing: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Manrope", serif; */
}

.manrope {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
